@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, rgb(18, 119, 214), rgb(7, 104, 143));
}
#principal {
    background-color: rgb(39, 7, 184);
    color: rgb(243, 243, 248);
}
h1 {
    color: rgb(11, 15, 241);
}
h2 {
    color: indigo;
}